# Project 1 

## Uber New York Data Analysis

In [1]:
# Import Library
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# Read CSV
uber_15 = pd.read_csv(r'C:\Users\USER\Python_for_Training\Course005_Real_Project_Analysis_Python\031_Real_Project_Analysis_Python\uber-pickups-in-new-york-city\uber-raw-data-janjune-15.csv',encoding='utf-8')

In [3]:
# Check Head 2 of Data
uber_15.head(2)

  Dispatching_base_num          Pickup_date Affiliated_base_num  locationID
0               B02617  2015-05-17 09:47:00              B02617         141
1               B02617  2015-05-17 09:47:00              B02617          65

In [4]:
# Check Dimension of data
uber_15.shape

(14270479, 4)

In [5]:
# check duplicate value

uber_15.duplicated().sum()

898225

In [6]:
# drop duplicate value
uber_15.drop_duplicates(inplace=True)

In [7]:
# check shape of data again
uber_15.shape

(13372254, 4)

In [8]:
# print test
print("Hello John Tik")

Hello John Tik

#### Problem Statement

    1 Which month have max.
      Uber pickups in New York City?

In [9]:
# checking type of data
uber_15.dtypes

Dispatching_base_num    object
Pickup_date             object
Affiliated_base_num     object
locationID               int64
dtype: object

In [10]:
# format datetime of 'Pickup_date' and keep to uber_15['Pickup_date']
pd.to_datetime(uber_15['Pickup_date'], format = '%Y-%m-%d %H:%M:%S')

0          2015-05-17 09:47:00
1          2015-05-17 09:47:00
2          2015-05-17 09:47:00
3          2015-05-17 09:47:00
4          2015-05-17 09:47:00
                   ...
14270474   2015-05-08 15:43:00
14270475   2015-05-08 15:43:00
14270476   2015-05-08 15:43:00
14270477   2015-05-08 15:44:00
14270478   2015-05-08 15:44:00
Name: Pickup_date, Length: 13372254, dtype: datetime64[ns]

In [11]:
# keep to uber_15['Pickup_date']
uber_15['Pickup_date'] = pd.to_datetime(uber_15['Pickup_date'], format = '%Y-%m-%d %H:%M:%S')

In [12]:
# view datadatetime of month in uber_15['Pickup_date']
uber_15['Pickup_date'].dt.month

0           5
1           5
2           5
3           5
4           5
           ..
14270474    5
14270475    5
14270476    5
14270477    5
14270478    5
Name: Pickup_date, Length: 13372254, dtype: int64

In [13]:
# keep to uber_15['Pickup_date'] and create uber_15['month]
uber_15['month'] = uber_15['Pickup_date'].dt.month

In [14]:
# counting month
uber_15['month'].value_counts()

6    2571771
5    2483980
2    2222189
4    2112705
3    2062639
1    1918970
Name: month, dtype: int64

In [ ]:
# plot bat chart of uber_15['month']
uber_15['month'].value_counts().plot(kind='bar')